#celebrate1 {
    /* font-family: "Leckerli One", cursive; */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:darkgreen;
}

#celebrate2 {
    /* font-family: "Leckerli One", cursive; */
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:darkgreen;
    font-size:4rem;
}